.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 768px), (hover: none) and (pointer: coarse){
	.container {
		scale: 1.3;
	}
}

@property --widthSquare {
	syntax:"<length>";
	initial-value: 20px;
	inherits: false;
}
.square {
	width: var(--widthSquare);
	aspect-ratio: 1/1;
	border: 3px solid var(--contrast-color);
	border-radius: .3rem;
	margin-bottom: .2rem;
	transform-origin: 100% 100%;
	animation: roll var(--animation-settings);
}

@keyframes roll {
	25%{
		transform: translate(calc(var(--widthSquare) * -1));
	}
	50%{
		transform:
			rotate(90deg) translateY(var(--widthSquare));
	}
	75%{
		transform:
			rotate(180deg) translateY(var(--widthSquare));
	}
	100%{
		transform:
			rotate(180deg)
			translate(var(--widthSquare), var(--widthSquare));
	}
}

@property --widthScroll {
	syntax:"<length>";
	initial-value: 90px;
	inherits: false;
}

.infinite-scroll{
	position: relative;
	width: calc(var(--widthSquare) * 3);
	height: 2px;
	overflow: hidden;
}

.infinite-scroll::before, .infinite-scroll::after {
	content: "";
	position: absolute;
	width: var(--widthSquare);
	height: 100%;
	background: var(--contrast-color);
}

.infinite-scroll::before {
	left: calc(50% - var(--widthSquare) / 2);
	animation: moveBefore var(--animation-settings);
}
.infinite-scroll::after {
	left: 100%;
	animation: moveAfter var(--animation-settings);
}

@keyframes moveBefore {
	25%{
		left: 0;
	}
	50%{
		left: 0;
	}
	75%{
		left: 0;
	}
	100%{
		left: -30px;
	}
}

@keyframes moveAfter {
	25%{
		left: 100%;
	}
	50%{
		left: calc(100% - var(--widthSquare));
	}
	75%{
		left: calc(100% - var(--widthSquare));
	}
	100%{
		left: calc(50% - var(--widthSquare) / 2);
	}
}